{{extend '../_layouts/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" type="text/css" href="/public/css/zhuti1.css">
{{/block}}
{{block 'title'}}
<title>合作客户</title>
{{/block}}

{{block 'style'}}{{/block}}

{{block 'content'}}
<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/lunbo.jpg" alt=""></div>
    </div>
</div>

<!-- 主体 -->
<div class="main">
    <div class="main-header">
        <div class="container clearfix">
            <div class="position">
                <a href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
                </a>
                >
                <a href="/">合作客户</a>
                >
            </div>
        </div>
    </div>
    <div class="artical container clearfix">
        <div class="artical-header">
            <h1>银基地产</h1>
            <p>
                <span>发表时间：2018年07月11日</span>
                <span>
                    浏览量：902
                </span>
            </p>
        </div>
        <div class="artical-body">
            <p>
                河南银基房地产开发有限公司成立于1993年,1993年应当时河南
                省省政府邀请，香港盛鸿投资有限公司投资成立河南银基房地产
                开发有限公司，进军河南房地产领域。先后开发了郑州银基商贸
                城，开创了中原服饰“楼宇式批发”的全新模式；郑州银基王朝高
                端住宅项目，平顶山银基誉府高端住宅项目，始终致力于高品质
                的住宅项目开发；新密文化产业园项目，进入前瞻性的文化旅游
                地产项目。经过20多年的发展，成为河南地区知名的房地产公司
                ，目前主营业务包括商业运营、房地产开发和物业服务。公司植
                根于河南，以郑州为中心，目前在开封、新密和平顶山等地的房
                地产项目开发都取得了瞩目的成绩，同时“银基”这一品牌也家喻
                户晓。
            </p>
            <p>
                公司物业服务以河南丹尼尔物业管理有限公司为主体展开。以“创
                造精彩生活、成就客户价值”为使命，致力于物业管理的学习与研
                发，逐渐成为了一支专业化、规范化、标准化、求真务实、敬业
                诚信的物业团队，为业主提供“酒店式管家贴心”的精品服务。
            </p>
            <p>
                如今，银基依托良好的品牌优势和资金实力，相继涉足玉矿文化项
                目、金融业务和高端旅游地产项目。历经20多年的拼搏和进取，银
                基已经发展成为一家涉足地产、商业、玉矿、玉雕、银行的多元化
                集团公司。
            </p>
        </div>
        <div class="artical-footer clearfix">
            <div class="choose-artical">
                <a href="">上一篇：融信中国</a>
                <a href="">下一篇：恒达集团</a>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block 'script'}}
<script>
    // 轮播图
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-wrapper').bind('mouseenter', function () {
        $('.swiper-button-next').fadeIn();
        $('.swiper-button-prev').fadeIn();
    })
    $('.swiper-wrapper').bind('mouseleave', function () {
        $('.swiper-button-next').fadeOut();
        $('.swiper-button-prev').fadeOut();
    })
    // 在线咨询
    $('#close_im').bind('click', function () {
        $('#main-im').css("height", "0");
        $('#im_main').hide();
        $('#open_im').show();
    });
    $('#open_im').bind('click', function (e) {
        $('#main-im').css("height", "272");
        $('#im_main').show();
        $(this).hide();
    });
    // 返回顶部
    $('.go-top').bind('click', function () {
        $(window).scrollTop(0);
    });
    // 返回顶部
    $(window).scroll(function () {
        if ($(document).scrollTop() >= 300) {
            $('.go-top').fadeIn();
        } else {
            $('.go-top').fadeOut();
        }
    })
</script>
{{/block}}