{{extend '../_layouts/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" type="text/css" href="/public/css/zhuti1.css">
{{/block}}
{{block 'title'}}
<title>合作客户</title>
{{/block}}

{{block 'style'}}{{/block}}

{{block 'content'}}
<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/lunbo.jpg" alt=""></div>
    </div>
</div>


<!-- 主体 -->
<div class="main">
    <div class="main-header">
        <div class="container clearfix">
            <div class="position">
                <a href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
                </a>
                >
                <a href="../合作客户.html">合作客户</a>
                >
            </div>
        </div>
    </div>
    <div class="artical container clearfix">
        <div class="artical-header">
            <h1>华启集团</h1>
            <p>
                <span>发表时间：2018年08月14日</span>
                <span>
                    浏览量：346
                </span>
            </p>
        </div>
        <div class="artical-footer clearfix">
            <div class="choose-artical">
                <a href="">上一篇：恒达集团</a>
                <a href="">下一篇：汇艺置业</a>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{block 'script'}}
<script>
    // 轮播图
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-wrapper').bind('mouseenter', function () {
        $('.swiper-button-next').fadeIn();
        $('.swiper-button-prev').fadeIn();
    })
    $('.swiper-wrapper').bind('mouseleave', function () {
        $('.swiper-button-next').fadeOut();
        $('.swiper-button-prev').fadeOut();
    })
    // 在线咨询
    $('#close_im').bind('click', function () {
        $('#main-im').css("height", "0");
        $('#im_main').hide();
        $('#open_im').show();
    });
    $('#open_im').bind('click', function (e) {
        $('#main-im').css("height", "272");
        $('#im_main').show();
        $(this).hide();
    });
    // 返回顶部
    $('.go-top').bind('click', function () {
        $(window).scrollTop(0);
    });
    // 返回顶部
    $(window).scroll(function () {
        if ($(document).scrollTop() >= 300) {
            $('.go-top').fadeIn();
        } else {
            $('.go-top').fadeOut();
        }
    })
</script>
{{/block}}