<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{block 'title'}} {{/block}}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <!-- 引入导航栏的样式 -->
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/main.css"> {{block 'style'}} {{/block}}
</head>

<body>

    {{include '../_partials/header.html'}} {{block 'content'}}{{/block}} {{include '../_partials/footer.html'}}


    <script src="/public/js/jquery-3.1.1.js"></script>
    <script src="/public/js/go_top.js"></script>
    <script src="/public/js/navbar.js"></script>
    {{block 'script'}} {{/block}}
</body>

</html>