{{extend './_layouts/layout.html'}}

{{block 'link'}}
<link rel="stylesheet" href="/public/css/zhuti.css">
{{/block}}

{{block 'title'}}
<title>合作客户</title>
{{/block}} {{block 'style'}}{{/block}}

{{block 'content'}}
<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/lunbo.jpg" alt="" style="width: 95%;"></div>
    </div>
</div>
<!-- 主体 -->
<div class="main">
    <div class="main-header">
        <div class="container clearfix">
            <div class="position">
                <a href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
                </a>
                >
                <a href="#">合作客户</a>
                >
            </div>
        </div>
    </div>
    <div class="center">
        <div class="zt-top text-center">
            <h1>合作客户</h1>
        </div>
        <div class="zt-center text-center">
            <div class="container">
                <div class="row">
                    <ul>
                        {{each result.records}}
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="{{$value.alink}}" class="pic">
                                    <img src="{{$value.avatar}}" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="{{$value.alink}}">{{$value.title}}</a>
                                    </h4>
                                    <a href="{{$value.alink}}">{{$value.dio}}</a>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>
        <!-- <div class="fy">
            <a href="/">首页</a>
            <a href="#" class="active">1</a>
            <a href="/topic/one">2</a>
            <a href="/topic/one2">3</a>
            <a href="/topic/one3">4</a>
            <a href="/topic/one4">5</a>
            <a href="/topic/one2">下一页</a>
            <a href="/topic/one4">末页</a>
        </div> -->

        <div class="fy">
            <a href="/">首页</a>
            {{if result.page > 1}}
            <a href="/topic/one?page={{result.page-1}}">上一页</a>
            {{/if}}
            {{each result.display}}
            <a href="/topic/one?page={{$value}}" class="{{$value == result.page?'active':''}}">{{$value}}</a>
            {{/each}}
            {{if result.page < result.pages}} <a href="/topic/one?page={{result.page+1}}">下一页</a>
                {{/if}}
                <!-- <a href="/topic/one4">末页</a> -->
        </div>

    </div>
</div>
{{/block}}

{{block 'script'}}
<script>
    // 轮播图
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-wrapper').bind('mouseenter', function () {
        $('.swiper-button-next').fadeIn();
        $('.swiper-button-prev').fadeIn();
    })
    $('.swiper-wrapper').bind('mouseleave', function () {
        $('.swiper-button-next').fadeOut();
        $('.swiper-button-prev').fadeOut();
    })
    // 在线咨询
    $('#close_im').bind('click', function () {
        $('#main-im').css("height", "0");
        $('#im_main').hide();
        $('#open_im').show();
    });
    $('#open_im').bind('click', function (e) {
        $('#main-im').css("height", "272");
        $('#im_main').show();
        $(this).hide();
    });
    // 返回顶部
    $('.go-top').bind('click', function () {
        $(window).scrollTop(0);
    });
    // 返回顶部
    $(window).scroll(function () {
        if ($(document).scrollTop() >= 300) {
            $('.go-top').fadeIn();
        } else {
            $('.go-top').fadeOut();
        }
    })
</script>
{{/block}}