.footer {
  width: 100%;
  margin-top: 40px;
  background-color: #525252;
}
.footer .footer-body .box-l {
  margin-top: 29px;
  float: left;
  width: 590px;
}
.footer .footer-body .box-l .contact-way {
  display: block;
}
.footer .footer-body .box-l .contact-way .ewm {
  float: left;
}
.footer .footer-body .box-l .contact-way .ewm .img {
  float: left;
  width: 124px;
  height: 124px;
  margin-right: 8px;
}
.footer .footer-body .box-l .contact-way .info {
  float: left;
  margin-left: 7px;
}
.footer .footer-body .box-l .contact-way .info h2 {
  display: block;
  padding: 0;
  margin: 0;
  border-left: 1px solid #38b549;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}
.footer .footer-body .box-l .contact-way .info ul {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  list-style: none;
}
.footer .footer-body .box-l .contact-way .info ul li {
  margin: 0;
  padding: 0;
  height: 33px;
  line-height: 33px;
  color: #b9b9b9;
}
.footer .footer-body .box-l .contact-way .info ul li i {
  display: block;
  float: left;
  margin: 7px  14px 0  0;
}
.footer .footer-body .box-l .contact-way .info ul li .addr-icon {
  background: url(../img/allbgs.png) no-repeat -30px 0px;
  width: 20px;
  padding-top: 17px;
}
.footer .footer-body .box-l .contact-way .info ul li .phone-icon-s {
  background: url(../img/allbgs.png) no-repeat -50px 0px;
  width: 17px;
  padding-top: 18px;
}
.footer .footer-body .box-l .contact-way .info ul li .wz-icon {
  background: url(../img/allbgs.png) no-repeat -14px 0px;
  width: 16px;
  padding-top: 17px;
}
.footer .footer-body .box-l .phone {
  float: left;
  display: block;
  height: 39px;
  line-height: 39px;
  margin-top: 15px;
  font-size: 20px;
  color: #38b549;
}
.footer .footer-body .box-l .phone i {
  display: block;
  float: left;
  margin: 0 10px 0 14px;
}
.footer .footer-body .box-l .phone .phone-icon {
  background: url(../img/allbgs.png) no-repeat -269px 0px;
  width: 40px;
  padding-top: 40px;
}
.footer .footer-body .box-r {
  float: right;
  margin-top: 29px;
  width: 550px;
}
.footer .footer-body .box-r .mune .list {
  padding: 0 45px;
  height: 146px;
  float: left;
  border-left: 1px solid #b9b9b9;
}
.footer .footer-body .box-r .mune .list:first-child {
  padding-left: 0;
  border-left: 0;
}
.footer .footer-body .box-r .mune .list:last-child {
  padding-right: 0;
}
.footer .footer-body .box-r .mune .list h4 {
  display: block;
  color: #fff;
  font-size: 16px;
}
.footer .footer-body .box-r .mune .list ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}
.footer .footer-body .box-r .mune .list ul li {
  height: 28px;
  line-height: 28px;
}
.footer .footer-body .box-r .mune .list ul li a {
  color: #b9b9b9;
}
.footer .footer-body .box-r .mune .list ul li a:hover {
  color: #fff;
}
.footer .web-info {
  height: 60px;
  line-height: 60px;
  margin-top: 34px;
  color: #e4e4e4;
  background-color: #393939;
}
.footer .web-info .container .l {
  float: left;
}
.footer .web-info .container .l a {
  color: #e4e4e4;
}
.footer .web-info .container .r {
  float: right;
}
.footer .web-info .container .r a {
  color: #e4e4e4;
}
.footer .web-info .container .r a span {
  padding: 1px 5px;
  background-color: #41A5F5;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer .box-l {
    width: 100%!important;
  }
  .footer .box-r {
    display: none!important;
    float: none!important;
  }
  .footer .web-info span {
    display: none!important;
  }
}
@media screen and (max-width: 1200px) {
  .footer .box-l {
    width: 100%!important;
  }
  .footer .box-r {
    float: none!important;
  }
}
