.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: -20px;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination span {
  width: 45px;
  height: 3px;
  border-radius: 0;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
