<!-- 底部 -->
<div class="footer">
    <div class="footer-body container">
        <div class="box-l">
            <div class="contact-way">
                <div class="ewm"> <img src="/public/img/ewm1.jpg" alt="郑州装饰公司-腾升建筑装饰股份有限公司"> </div>
                <div class="info">
                    <h2>郑州装饰公司-腾升建筑装饰股份有限公司</h2>
                    <ul>
                        <li><i class="addr-icon"></i><span>郑州市商鼎路和顺街（广地和顺中心B座3楼）</span></li>
                        <li><i class="phone-icon-s"></i><span>0371-65359859</span></li>
                        <li><i class="wz-icon"></i><span>41629844@qq.com</span></li>
                    </ul>
                </div>
            </div>
            <div class="phone"> <i class="phone-icon"></i> <span>热线电话：0371-65359859</span> </div>
        </div>
        <div class="box-r">
            <div class="mune">
                <div class="list">
                    <h4>关于我们</h4>
                    <ul>

                        <li><a href="">企业简介</a></li>

                        <li><a href="">企业文化</a></li>

                        <li><a href="">企业荣誉</a></li>

                    </ul>
                </div>
                <div class="list">
                    <h4>工程案例</h4>
                    <ul>

                        <li><a href="">装修设计</a></li>

                        <li><a href="">装修施工</a></li>

                        <li><a href="">软装服务</a></li>

                        <li><a href="">幕墙工程</a></li>

                    </ul>
                </div>
                <div class="list">
                    <h4>新闻资讯</h4>
                    <ul>

                        <li><a href="">企业新闻</a></li>

                        <li><a href="">行业动态</a></li>

                        <li><a href="">媒体报道</a></li>

                    </ul>
                </div>
                <div class="list">
                    <h4>联系我们</h4>
                    <ul>

                        <li><a href="">人才招聘</a></li>

                        <li><a href="">公司地址</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="web-info">
        <div class="container">
            <div class="l">Copyright &copy; 2002-2019 腾升建筑装饰股份有限公司 版权所有 备案号：<a href="http://beian.miit.gov.cn" rel="noffolw" target="_blank">豫ICP备10008564号-1</a></div>
            <div class="r">
                <a>友情链接</a>：
                <a href='http://www.tone-sun.com' target='_blank'>办公楼装修</a>
                <a href='http://www.tone-sun.cn' target='_blank'>腾升装饰</a>
                <a href='http://www.henankt.com/' target='_blank'>郑州中央空调</a>
                <a href=' https://www.bigbigwork.com' target='_blank'>大作</a>
                <a href=""><span>51La</span></a>
            </div>
        </div>
    </div>
</div>
<!-- 在线咨询 -->
<div class="main-im">
    <div id="open_im" class="open-im"></div>
    <div class="im_main" id="im_main">
        <div id="close_im" class="close-im">
            <a href="javascript:void(0);" title="点击关闭"></a>
        </div>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=41629844&site=qq&menu=yes" target="_blank" class="im-qq qq-a" title="在线QQ客服">
            <div class="qq-container"></div>
            <div class="qq-hover-c">
                <img class="img-qq" src="http://demo.lanrenzhijia.com/2015/service0119/images/qq.png">
            </div>
            <span> QQ在线咨询</span>
        </a>
        <div class="im-tel">
            <div>设计咨询热线</div>
            <div class="tel-num">0371-65359859</div>
            <div>施工咨询热线</div>
            <div class="tel-num">13526775752</div>
        </div>
    </div>
</div>
<!-- 返回顶部 -->
<div class="go-top"></div>