{{extend './_layouts/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" type="text/css" href="/public/css/zhuti1.css">
{{/block}}
{{block 'title'}}
<title>合作客户</title>
{{/block}}

{{block 'style'}}{{/block}}

{{block 'content'}}
<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/lunbo.jpg" alt=""></div>
    </div>
</div>

<!-- 主体 -->
<div class="main">
    <div class="main-header">
        <div class="container clearfix">
            <div class="position">
                <a href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
                </a>
                >
                <a href="../合作客户.html">合作客户</a>
                >
            </div>
        </div>
    </div>
    <div class="artical container clearfix">
        <div class="artical-header">
            <h1>融信中国</h1>
            <p>
                <span>发表时间：2021年03月02日</span>
                <span>
                    浏览量：893
                </span>
            </p>
        </div>
        <div class="artical-body">
            <p>融信中国控股有限公司（简称融信中国，股票代码：3301.HK），
                是一家于香港联交所上市，专注于中高端住宅开发的大型现代化
                企业集团，地产开发拥有国家一级开发资质，位列中国房地产企
                业22强。
            </p>
            <p>
                融信中国战略布局全国8大核心城市群：海峡西岸、长三角、长
                江中游、大湾区、京津冀、中原、成渝、西北城市群。坚持中
                高端精品战略，尊重城市文化肌理，坚持以品质影响城市，集
                国际一流建筑师、设计师智慧，联合知名承建商倾力打造符合
                当地市场需求的标杆产品。
            </p>
            <p>
                迄今，在上海、杭州、南京、苏州、广州、福州、厦门、郑州、
                天津等地拥有众多项目，产品涵盖高端公寓、别墅、服务式公寓
                、写字楼、商业综合体等多种物业类型，总投资额超5000亿元人
                民币。
            </p>
        </div>
        <div class="artical-footer clearfix">
            <div class="choose-artical">
                <a href="">上一篇：中南集团</a>
                <a href="">下一篇：银基地产</a>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block 'script'}}
<script>
    // 轮播图
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-wrapper').bind('mouseenter', function () {
        $('.swiper-button-next').fadeIn();
        $('.swiper-button-prev').fadeIn();
    })
    $('.swiper-wrapper').bind('mouseleave', function () {
        $('.swiper-button-next').fadeOut();
        $('.swiper-button-prev').fadeOut();
    })
    // 在线咨询
    $('#close_im').bind('click', function () {
        $('#main-im').css("height", "0");
        $('#im_main').hide();
        $('#open_im').show();
    });
    $('#open_im').bind('click', function (e) {
        $('#main-im').css("height", "272");
        $('#im_main').show();
        $(this).hide();
    });
    // 返回顶部
    $('.go-top').bind('click', function () {
        $(window).scrollTop(0);
    });
    // 返回顶部
    $(window).scroll(function () {
        if ($(document).scrollTop() >= 300) {
            $('.go-top').fadeIn();
        } else {
            $('.go-top').fadeOut();
        }
    })
</script>
{{/block}}