{{extend './_layouts/layout.html'}}

{{block 'link'}}
<link rel="stylesheet" href="/public/css/zhuti.css">
{{/block}}

{{block 'title'}}
<title>合作客户</title>
{{/block}} {{block 'style'}}{{/block}}

{{block 'content'}}
<!-- 轮播图 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/public/img/lunbo.jpg" alt="" style="width: 95%;"></div>
    </div>
</div>

<!-- 主体 -->
<div class="main">
    <div class="main-header">
        <div class="container clearfix">
            <div class="position">
                <a href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主页
                </a>
                >
                <a href="">合作客户</a>
                >
            </div>
        </div>
    </div>
    <div class="center">
        <div class="zt-top text-center">
            <h1>合作客户</h1>
        </div>
        <div class="zt-center text-center">
            <div class="container">
                <div class="row">
                    <ul>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./01.html" class="pic">
                                    <img src="../img/2-1.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./01.html">阳光城集团</a>
                                    </h4>
                                    <a href="./01.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./02.html" class="pic">
                                    <img src="../img/2-2.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./02.html">北大资源</a>
                                    </h4>
                                    <a href="./02.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./03.html" class="pic">
                                    <img src="../img/2-3.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./03.html">昌建地产</a>
                                    </h4>
                                    <a href="./03.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./04.html" class="pic">
                                    <img src="../img/2-4.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./04.html">泰禾地产</a>
                                    </h4>
                                    <a href="./04.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./05.html" class="pic">
                                    <img src="../img/2-5.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./05.html">雅居乐地产</a>
                                    </h4>
                                    <a href="./05.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="content">
                                <a href="./06.html" class="pic">
                                    <img src="../img/2-6.jpg" style="vertical-align: middle;">
                                </a>
                                <div class="text">
                                    <h4>
                                        <a href="./06.html">绿都地产</a>
                                    </h4>
                                    <a href="./06.html">查看详情</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="fy">
            <a href="../合作客户.html">首页</a>
            <a href="../合作客户.html">上一页</a>
            <a href="../合作客户.html">1</a>
            <span class="">2</span>
            <a href="./012.html">3</a>
            <a href="./013.html">4</a>
            <a href="./014.html">5</a>
            <a href="./012.html">下一页</a>
            <a href="./014.html">末页</a>
        </div>
    </div>
</div>

{{/block}}

{{block 'script'}}
<script>
    // 轮播图
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-wrapper').bind('mouseenter', function () {
        $('.swiper-button-next').fadeIn();
        $('.swiper-button-prev').fadeIn();
    })
    $('.swiper-wrapper').bind('mouseleave', function () {
        $('.swiper-button-next').fadeOut();
        $('.swiper-button-prev').fadeOut();
    })
    // 在线咨询
    $('#close_im').bind('click', function () {
        $('#main-im').css("height", "0");
        $('#im_main').hide();
        $('#open_im').show();
    });
    $('#open_im').bind('click', function (e) {
        $('#main-im').css("height", "272");
        $('#im_main').show();
        $(this).hide();
    });
    // 返回顶部
    $('.go-top').bind('click', function () {
        $(window).scrollTop(0);
    });
    // 返回顶部
    $(window).scroll(function () {
        if ($(document).scrollTop() >= 300) {
            $('.go-top').fadeIn();
        } else {
            $('.go-top').fadeOut();
        }
    })
</script>
{{/block}}